<style>
  nav.pagination{
    padding-top: 30px;
  }
  nav.pagination a.prev {
    border: 1px solid;
    padding: 10px;
    background: lightgray;
}
    nav.pagination a.next {
    border: 1px solid;
    padding: 10px;
    background: lightgray;
}
  
</style>

{% if pagination.pages > 1 %}
    <nav role="navigation" class="pagination">
        {% if pagination.previous %}
            <a href="{{ pagination.previous.url }}" class="prev">Previous</a>
        {% endif %}

        {% if pagination.next %}
            <a href="{{ pagination.next.url }}" class="next">Next</a>
        {% endif %}
    </nav>
{% endif %}