            <div class="tm-section latest-blog-area tm-padding-section bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                            <div class="tm-section-title text-center">
                                <h2>Our Latest News</h2>
                                <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem
                                    an cule dicta iriure at phaedrum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-slider-active tm-slider-dots">

                      {%- for article in blog.articles -%}
                        <!-- Single Blog -->
                        <div class="col">
                            <div class="tm-blog">
                                <div class="tm-blog-top">
                                    <a href="blog-details.html">
                                        <img src="assets/images/blog/blog-image-1.jpg" alt="blog image">
                                    </a>
                                    <span class="tm-blog-date">18 Nov, 2019</span>
                                </div>
                                <div class="tm-blog-bottom">
                                    <div class="tm-blog-meta">
                                        <span><a href="blog.html"><i class="zmdi zmdi-account"></i> Admin</a></span>
                                        <span><a href="blog-details.html"><i class="zmdi zmdi-comments"></i> Comments (0)</a></span>
                                        <span><a href="blog.html"><i class="zmdi zmdi-folder"></i> Services</a></span>
                                    </div>
                                    <h5 class="tm-blog-title"><a href="blog-details.html">Suffering With Back Pain</a></h5>
                                    <p>Back pain is a common reason for absence from work. One of the most important
                                        things you can do for back pain prevention is to get up and get moving.</p>
                                    <a href="blog-details.html" class="tm-button tm-button-dark">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!--// Single Blog -->
                      {% endfor %}
                    </div>
                </div>
            </div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}