<div class="tm-breadcrumb-area tm-padding-section" data-bgimage="{{ section.settings.background-img | img_url: 'master' }}"
            data-black-overlay="4">
            <div class="container">
                <div class="tm-breadcrumb text-center">
                    <h2>{{ section.settings.breadcrumb-header }}</h2>
                    <ul> 
                        <li><a href="https://dialia-rmt-store.myshopify.com/">Home</a></li>
                        
                        <li>{{ request.path | remove: "pages" | remove: "/" }}</li>
                    </ul>
                </div>
            </div>
</div>

{% schema %}
  {
    "name": "breadcrumb-area",
    "settings": [
      {
        "type": "image_picker",
        "id": "background-img",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "breadcrumb-header",
        "label": "Breadcrumb Header",
        "default": "About Us"
      }     
    ],
    "presets": [
      {
          "category": "content",
          "name":"breadcrumb-area"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}