            <div class="tm-section features-area bg-white tm-padding-section">
                <div class="container">
                    <div class="row justify-content-center mt-30-reverse">

                        <!-- Single Feature -->
                        <div class="col-lg-4 col-md-6 col-12 mt-30">
                            <div class="tm-feature text-center wow fadeInUp">
                                <span class="tm-feature-icon">
                                    <i class="flaticon-spa"></i>
                                </span>
                                <span class="tm-feature-backicon">
                                    <i class="flaticon-spa"></i>
                                </span>
                                <h5>Massage Therapy</h5>
                                <p>Massage therapy is the manipulation of the soft tissues of the body including
                                    muscles, connective tissue, tendons, ligaments and joints.</p>
                            </div>
                        </div>
                        <!--// Single Feature -->

                        <!-- Single Feature -->
                        <div class="col-lg-4 col-md-6 col-12 mt-30">
                            <div class="tm-feature text-center wow fadeInUp">
                                <span class="tm-feature-icon">
                                    <i class="flaticon-physical"></i>
                                </span>
                                <span class="tm-feature-backicon">
                                    <i class="flaticon-physical"></i>
                                </span>
                                <h5>Physio Therapy</h5>
                                <p>Physiotherapists spend years studying how the body works, how injuries impact
                                    performance & how to recover and repair injured tissues.</p>
                            </div>
                        </div>
                        <!--// Single Feature -->

                        <!-- Single Feature -->
                        <div class="col-lg-4 col-md-6 col-12 mt-30">
                            <div class="tm-feature text-center wow fadeInUp">
                                <span class="tm-feature-icon">
                                    <i class="flaticon-acupuncture"></i>
                                </span>
                                <span class="tm-feature-backicon">
                                    <i class="flaticon-acupuncture"></i>
                                </span>
                                <h5>Acupuncture</h5>
                                <p>Acupuncture is a form of alternative medicine
                                    in which thin needles are inserted into the
                                    body. It is a key component of medicine.</p>
                            </div>
                        </div>
                        <!--// Single Feature -->

                    </div>
                </div>
            </div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}