            <div class="tm-section features-area bg-white tm-padding-section">
                <div class="container">
                    <div class="row justify-content-center mt-30-reverse">

                      {% for block in section.blocks %}
                        <!-- Single Feature -->
                        <div class="col-lg-4 col-md-6 col-12 mt-30 {{ block.id }}">
                            <div class="tm-feature text-center wow fadeInUp">
                                <span class="tm-feature-icon">
                                    <i class="flaticon-spa"></i>
                                </span>
                                <span class="tm-feature-backicon">
                                    <i class="flaticon-spa"></i>
                                </span>
                                <h5>{{ block.settings.title }}</h5>
                                <p>{{ block.settings.description }}</p>
                            </div>
                        </div>
                        <!--// Single Feature -->
                      {% endfor %}
                    </div>
                </div>
            </div>



{% schema %}
  {
    "name": "features-area",
    "blocks": [
      {
        "name": "feature-content",
        "type": "feature-content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Feature Title",
            "default": "Massage Therapy"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Feature Description",
            "default": "Massage therapy is the manipulation of the soft tissues of the body including muscles, connective tissue, tendons, ligaments and joints."
          }         
        ]
      }
    ],
    "presets": [
      {
        "category": "content",
        "name":"features-area",
        "blocks": [
          {
            "type":"feature-content"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}