            <div class="tm-section pricing-benifits-area bg-grey tm-padding-section" data-bgimage="assets/images/bg/pricing-bg.jpg"
                data-white-overlay="9">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="tm-pricing-left">
                                <h2><span><span class="color-theme">Benefits</span> of</span><br>
                                    Registered Massage Therapy</h2>
                                <p>There are remarkable benefits to be achieved through regular massage
                                    therapy treatments from a R
                                    egistered Massage Therapist. Massage therapy
                                    can be an important part of your health maintenance plan.</p>

                                <ul class="nav" id="bstab1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="bstab1-area1-tab" data-toggle="tab" href="#bstab1-area1"
                                            role="tab" aria-controls="bstab1-area1" aria-selected="true">Reducing or
                                            eliminating pain</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="bstab1-area2-tab" data-toggle="tab" href="#bstab1-area2"
                                            role="tab" aria-controls="bstab1-area2" aria-selected="false">Improving
                                            joint mobility</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="bstab1-area3-tab" data-toggle="tab" href="#bstab1-area3"
                                            role="tab" aria-controls="bstab1-area3" aria-selected="false">Circulatory
                                            problems</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="bstab1-area4-tab" data-toggle="tab" href="#bstab1-area4"
                                            role="tab" aria-controls="bstab1-area3" aria-selected="false">Improving
                                            lymphatic drainage</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="bstab1-area5-tab" data-toggle="tab" href="#bstab1-area5"
                                            role="tab" aria-controls="bstab1-area3" aria-selected="false">Reducing
                                            muscular tension</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="bstab1-area6-tab" data-toggle="tab" href="#bstab1-area6"
                                            role="tab" aria-controls="bstab1-area3" aria-selected="false">Post-surgical
                                            rehabilitation</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tm-pricing-right">
                                <h2>Therapy <span class="color-theme">Rates</span></h2>
                                <p>New and returning clients are encouraged to book a massage appointment
                                    online by clicking the book an appointment button</p>

                                <div class="tab-content" id="bstab1-ontent">
                                    <div class="tab-pane fade show active" id="bstab1-area1" role="tabpanel"
                                        aria-labelledby="bstab1-area1-tab">
                                        <h5 class="tm-pricing-name">Rates (Reducing or eliminating pain)</h5>
                                        <div class="tm-pricing-priceboxes tm-slider-dots tm-slider-dots-vertical">
                                            <div class="tm-pricing-pricebox">
                                                <h2>30 <span>minutes</span></h2>
                                                <h3>$65.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>45 <span>minutes</span></h2>
                                                <h3>$75.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>60 <span>minutes</span></h2>
                                                <h3>$90.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>90 <span>minutes</span></h2>
                                                <h3>$120.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>120 <span>minutes</span></h2>
                                                <h3>$160.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="bstab1-area2" role="tabpanel" aria-labelledby="bstab1-area2-tab">
                                        <h5 class="tm-pricing-name">Rates (Improving joint mobility)</h5>
                                        <div class="tm-pricing-priceboxes tm-slider-dots tm-slider-dots-vertical">
                                            <div class="tm-pricing-pricebox">
                                                <h2>30 <span>minutes</span></h2>
                                                <h3>$65.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>45 <span>minutes</span></h2>
                                                <h3>$75.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>60 <span>minutes</span></h2>
                                                <h3>$90.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>90 <span>minutes</span></h2>
                                                <h3>$120.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="bstab1-area3" role="tabpanel" aria-labelledby="bstab1-area3-tab">
                                        <h5 class="tm-pricing-name">Rates (Circulatory problems)</h5>
                                        <div class="tm-pricing-priceboxes tm-slider-dots tm-slider-dots-vertical">
                                            <div class="tm-pricing-pricebox">
                                                <h2>30 <span>minutes</span></h2>
                                                <h3>$65.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>45 <span>minutes</span></h2>
                                                <h3>$75.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>60 <span>minutes</span></h2>
                                                <h3>$90.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="bstab1-area4" role="tabpanel" aria-labelledby="bstab1-area4-tab">
                                        <h5 class="tm-pricing-name">Rates (Improving lymphatic drainage)</h5>
                                        <div class="tm-pricing-priceboxes tm-slider-dots tm-slider-dots-vertical">
                                            <div class="tm-pricing-pricebox">
                                                <h2>30 <span>minutes</span></h2>
                                                <h3>$65.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>45 <span>minutes</span></h2>
                                                <h3>$75.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>60 <span>minutes</span></h2>
                                                <h3>$90.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="bstab1-area5" role="tabpanel" aria-labelledby="bstab1-area5-tab">
                                        <h5 class="tm-pricing-name">Rates (Reducing muscular tension)</h5>
                                        <div class="tm-pricing-priceboxes tm-slider-dots tm-slider-dots-vertical">
                                            <div class="tm-pricing-pricebox">
                                                <h2>30 <span>minutes</span></h2>
                                                <h3>$65.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>45 <span>minutes</span></h2>
                                                <h3>$75.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>60 <span>minutes</span></h2>
                                                <h3>$90.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="bstab1-area6" role="tabpanel" aria-labelledby="bstab1-area6-tab">
                                        <h5 class="tm-pricing-name">Rates (Post-surgical rehabilitation)</h5>
                                        <div class="tm-pricing-priceboxes tm-slider-dots tm-slider-dots-vertical">
                                            <div class="tm-pricing-pricebox">
                                                <h2>30 <span>minutes</span></h2>
                                                <h3>$65.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>45 <span>minutes</span></h2>
                                                <h3>$75.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>60 <span>minutes</span></h2>
                                                <h3>$90.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>30 <span>minutes</span></h2>
                                                <h3>$65.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>90 <span>minutes</span></h2>
                                                <h3>$75.00</h3>
                                            </div>
                                            <div class="tm-pricing-pricebox">
                                                <h2>120 <span>minutes</span></h2>
                                                <h3>$90.00</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% schema %}
{
   "name": "pricing-area",
   "settings":[
   ],
   "presets": [
      {
          "category": "content",
          "name":"pricing-area"
      }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}