            <div class="tm-section services-area tm-padding-section bg-white">
                <span class="bg-shape-left"><img src="https://cdn.shopify.com/s/files/1/0732/0607/1579/files/bg-shape-1.png?v=1680012082" alt="background shape"></span>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                            <div class="tm-section-title text-center">
                                <h2>Our Services</h2>
                                <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem
                                    an cule dicta iriure at phaedrum. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-30-reverse">

                       {% for block in section.blocks %}
                        <!-- Single Service -->
                        <div class="col-lg-4 col-md-6 col-12 mt-30">
                            <div class="tm-service text-center wow fadeInUp">
                                <div class="tm-service-inner">
                                    <span class="tm-service-icon">
                                        <i class="flaticon-rehabilitation"></i>
                                    </span>
                                    <span class="tm-service-backicon">
                                        <i class="flaticon-rehabilitation"></i>
                                    </span>
                                    <h5><a href="service-details.html">{{ block.settings.title }}</a></h5>
                                    <p>{{ block.settings.description }}</p>
                                    <a href="service-details.html" class="tm-readmore">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!--// Single Service -->
                     {% endfor %}

                    </div>
                </div>
            </div>

{% schema %}
  {
    "name": "services",
    "blocks": [
      {
        "name": "services",
        "type": "services",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Service Title",
            "default": "Sports Rehabilitation"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Service Description",
            "default": "Aromatherapy uses plant materials and arom atic plant oils, including essential oils. It can be offered as a complementary therapy."
          }         
        ]
      }
    ],
    "presets": [
      {
        "category": "content",
        "name":"services",
        "blocks": [
          {
            "type":"services"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}